.SidebarNav {
  width: 300px;
  height: var(--height-msg);
}

/* Navbar msg heading */
.Nav-sbHeading {
  height: var(--height-sidebar-header);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
  overflow: hidden;
}
.Nav-sbHeading .Heading-wrap {
  padding: 5px;
}
.Nav-sbHeading .title {
  font-weight: bold;
  font-size: 1.8rem;
}
.tools-wrap .tool-item .btn-tool {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 200%;
  box-shadow: 0 0 10px rgb(0 0 0 / 12%);
  font-size: 1rem;
}
.tools-wrap .tool-item .btn-tool:hover {
  box-shadow: 0 -2px 5px rgb(0 0 0 / 12%);
}
.SearchGroup-wrap {
  padding: 5px;
}
.SearchGroup-wrap .el-input__inner {
  height: 35px;
  line-height: 35px;
  border: 1px solid var(--border-color);
}
.SearchGroup-wrap .el-input__prefix {
  top: -2px;
}

/* NavSidebarBody */
.MsgFilterBar .FilterBar-wrap {
  padding: 5px;
  font-size: .9rem;
  font-weight: 500;
}
.ConversationList .scroll-container {
  height: var(--height-sidebar-scroll);
}
.ConversationList .msg-item {
  height: 70px;
  position: relative;
}
.ConversationList .msg-item:hover {
  background-color: #f4f5f7;
}
.msg-item .conv-item__avatar {
  margin: 10px 12px;
  width: 46px;
}
.msg-item .conv-item__status {
  position: absolute;
}
.msg-item .conv-item__content {
  width: 230px;
}
.msg-item .conv-item__content .user-username {
  font-weight: 600;
}
.msg-item .conv-item__content .fromNow {
  font-size: .7rem;
  padding: 0 5px;
  color: #767676;
}
.msg-item .conv-item__content .content-body-text .truncate-msg {
  font-size: .8rem;
  color: #727272;
}
.msg-item .conv-item__setting .setting-wrap {
  height: 100%;
  width: 40px;
  right: 0;
  top: 0;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 0;
}
.msg-item:hover .btn-setting {
  opacity: 1;
}
.msg-item .btn-setting {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 17px;
  font-weight: bold;
  border-radius: 100%;
  color: #787676;
  opacity: 0;
}